__pycache__/
*.pyc
.ipynb_checkpoints/
data/ames_clean_step1.csv
data/ames_clean_step2.csv
data/ames_final.csv
data/X_train.csv
data/X_test.csv
data/y_train.csv
data/y_test.csv
data/archive.zip
notebooks/*.png
.DS_Store
